@media (max-width: 768px) {
  .carousel-item {
    height: 240px;
  }
}

@media (max-width: 320px) {
  .carousel-item {
    height: 180px;
  }
}

@media (min-width: 768px) {
  .carousel-item {
    height: 320px;
  }
}